.card-project{
    background-color: orange;
    height: auto;
    width: auto;
    color: black;
}

.img {
    width: 300px;   /* Ancho que defines */
    height: 200px;  /* Alto que defines */
    overflow: hidden;  /* Oculta el exceso si la imagen es más grande */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .img img {
    width: 100%;  /* Ajusta al ancho del contenedor */
    height: 100%; /* Ajusta al alto del contenedor */
    object-fit: cover; /* Cubre todo el contenedor sin deformarse */
  }