@font-face {
    font-family: 'Nothing You Could Do';
    src: url('src/assets/fonts/NothingYouCouldDo-Regular.ttf') format('truetype');
}

.title-projects {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: rgb(255, 255, 255);
    color: #2A272D;
    font-family: 'Nothing You Could Do';
    font-size: 60px; /* Tamaño más proporcional */
    line-height: 1; /* Ajusta el espacio vertical */
    gap: 24px;
}

