@font-face {
  font-family: 'Neue-regrade';
  src: url('public/assets/fonts/Neue Regrade Light.otf') format('truetype');
  font-style: Light;
}

@font-face {
  font-family: 'Neue-regrade';
  src: url('public/assets/fonts/Neue Regrade Regular.otf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Neue-regrade';
  src: url('public/assets/fonts/Neue Regrade Bold.otf') format('truetype');
  font-style: bold;

}

@font-face {
  font-family: 'Nothing You Could Do';
  src: url(public\assets\fonts\NothingYouCouldDo-Regular.ttf);
}

:root {
  font-family: Neue-regrade, Nothing You Could Do, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  list-style-type: none;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden; /* Evita que haya scroll hacia la derecha */
  list-style-type: none;
  width: 100%;
  margin: 0;
  min-width: 320px;
}
